<!DOCTYPE html>

<html ng-app="capstone">
<head>
    <!-- this is what shows up in the tabs in your browser and if you bookmark the page -->
    <title>Log into Capstone 8</title>

    <!-- These are the links to bootstrap code -->
    <!-- we got the links from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
    <!-- link to angular -->
    <!-- you can download it from https://angularjs.org/ then you need to upload it to the webdev server. -->
    <script src="angular.min.js"></script>
    
    <!-- angular code we wrote -->
    <!-- capstone.module.js is where we define the angular app called 'capstone'. We use the name of the app in the html element at the top of the file -->
    <script src="capstone.module.js"></script>
    <!-- data.capstone.controller.js is where we are getting the data from. It defines a controller under the 'capstone' app called 'dataControl', and data is under $scope.data -->
    <script src="data.capstone.controller.js"></script>
    <!-- capstone.filter.js enables us to display html code -->
    <script src="capstone.filter.js"></script>
    <script src="sidenav.js"></script>
    <link rel="stylesheet" href="styles_1.css">

</head>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav();">open</span>
    
<!-- Content -->
<div id="main" class="container" ng-controller="dataControl">
<div class="row">
    <div class="col-xs-12">
        <h1 style ="font-family:Times New Roman;color:white;font-size:350%;">Log in</h1>
    </div>    
</div>


<!-- form to enter new pizzas -->
<div class="row">
    <div class="col-xs-12">
        
        <form name="accountForm" novalidate>
        
            <!-- username for account -->
            <div class="form-group" ng-class="{ 'text-danger': accountForm.HAWKID.$invalid && accountForm.HAWKID.$touched, 'text-success': !accountForm.HAWKID.$invalid && accountForm.HAWKID.$touched }">
                <label class="form-control-label" for="HAWKID" style = "font-family:Times New Roman;color:white;font-size:150%;">Username (at least 2 characters long): </label>
                <input type="text" class="form-control" ng-class="{ 'is-invalid': accountForm.HAWKID.$invalid && accountForm.HAWKID.$touched, 'is-valid': !accountForm.HAWKID.$invalid && accountForm.HAWKID.$touched }" name="HAWKID" ng-model="account.HAWKID" ng-minlength="2" id="HAWKID" required/>
                <div ng-show="accountForm.HAWKID.$invalid && accountForm.HAWKID.$touched" >The username must be at least two characters long</div>
            </div>
            
            <!-- password for account -->
            <div class="form-group" ng-class="{ 'text-danger': accountForm.PASSWORD.$invalid && accountForm.PASSWORD.$touched, 'text-success': !accountForm.PASSWORD.$invalid && accountForm.PASSWORD.$touched }">
                <label class="form-control-label" for="PASSWORD" style ="font-family:Times New Roman;color:white;font-size:150%;">Password (at least 6 characters long; may not include anything related to hawkeyes): </label>
                <input type="password" class="form-control" ng-class="{ 'is-invalid': accountForm.PASSWORD.$invalid && accountForm.PASSWORD.$touched, 'is-valid': !accountForm.PASSWORD.$invalid && accountForm.PASSWORD.$touched }" name="PASSWORD" ng-model="account.PASSWORD" ng-minlength="6" id="PASSWORD" required/>
                <div ng-show="accountForm.PASSWORD.$invalid && accountForm.PASSWORD.$touched" >The password must be at least six characters long</div>
            </div>
        
            <button class="btn btn-default" ng-click="login(account)" ng-disabled="accountForm.$invalid">Log in</button>
        </form>
    </div>
</div>
</div>
</div>
</body>
</html>
