

h1 { 
    display: block;
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
}


h2 { 
    display: block;
    font-size: 2em;
    font-family: sans-serif;
    color: black;
    margin-top: 0.67em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}


p { 
    display: block;
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
}


/* this is for the index login header*/
.black_box {
  background-color: black;
  position: absolute;
  height: 50%;
  width: 30%;
  left: 10%;
  top: 10%;
  padding: 20px;
}



body {
    font-family: "Lato", sans-serif;
    background-color: #F0F0F0;
}


.navbar {
    background-color: #111;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}