
<!DOCTYPE html>

<html lang="en" ng-app="capstone">
<head>
    <!-- this is what shows up in the tabs in your browser and if you bookmark the page -->
    <title>Your Profile</title>

    <!-- These are the links to bootstrap code -->
    <!-- we got the links from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
    <!-- link to angular -->
    <!-- you can download it from https://angularjs.org/ then you need to upload it to the webdev server. -->
    <script src="angular.min.js"></script>
    
    <!-- angular code we wrote -->
    <!-- capstone.module.js is where we define the angular app called 'capstone'. We use the name of the app in the html element at the top of the file -->
    <script src="capstone.module.js"></script>
    <!-- data.capstone.controller.js is where we are getting the data from. It defines a controller under the 'capstone' app called 'dataControl', and data is under $scope.data -->
    <script src="data.capstone.controller.js"></script>
    <!-- capstone.filter.js enables us to display html code -->
    <script src="capstone.filter.js"></script>
 
    <link rel="stylesheet" href="styles_1.css">
   

</head>

<body>
<!-- side navigation panel-->
 <div class="sidenav">
  <div style="text-align: center;"><img src="quickherky.png" alt="hawkeye" style="width:100px;height:100px;"></div>
  <a href="Teacher_Landing.html">Capstone_8</a>
  <a href="Teacher_Profile.html">Profile</a>
   <a href="uploadmaterials.html">Upload Materials</a>
   <a href="Teacher_newaccount.html">Create Account</a>
   <a href="studentlist.html">Students </a>
</div>


<!--- keep these together, but separate-->
<div class="container" ng-controller="dataControl"> 
<!--header-->
<div ng-include ng-init="menuHighlight = 2;" src="'header.html'"></div>
<div class="main">
<div class="row-1" ng-repeat="user in users.userarray">
<h2>User Profile </h2>
<p>Click to edit your profile</p>
</div>

        <div class="row-1" align="center">
            
            <!-- Profile for Admin -->
            <!-- WE are getting our data from $scope.data in capstone.controller.js. the JSON object we get has the data under "user"-->
            <!--WE are defining each row of data as Admin Details-->
            <div class="card m-1" style="width: 28rem" ng-repeat="user in users.userarray" align="center">
                
                <div ng-init="setEditMode(false, user);"></div>
                    
                <div ng-if="!getEditMode(user)">

                <div class="card-body">
                    <img src="Iowa-Logo-Black_2_e1a087a8-9a96-4f9f-8243-249744d38e79_1800x.jpg" alt="hawkeye" style="width:200px;height:200px;">
                    <br><br>
                    <p> <b>HawkID: </b> {{user.HAWKID}}</p><br>
                    <p><b>First Name: </b>{{user.FIRSTNAME}}</p><br>
                    <p><b>Last Name: </b> {{user.LASTNAME}}</p><br>
                    <p><b>Email: </b> {{user.EMAIL}}</p> <br>
                    <p><b>Phone: </b> {{user.PHONE}}</p> <br>
                    
                    <button class="btn btn-dark" ng-click="setEditMode(true, user)" ng-disabled="edituser != null">Edit</button>
                </div>       
            </div>
            
            <div ng-if="getEditMode(user)">
                <!-- edit mode -->
                <div>
                    <form  name="newAccountForm" novalidate>
                        <div class="card-body">
                
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.FIRSTNAME.$invalid && newAccountForm.FIRSTNAME.$touched, 'text-success': !newAccountForm.FIRSTNAME.$invalid && newwAccountForm.FIRSTNAME.$touched}">
                    <label>First Name:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.FIRSTNAME.$invalid && newAccountForm.director.$touched, 'is-valid': !newAccountForm.FIRSTNAME.$invalid && newAccountForm.FIRSTNAME.$touched}" name="FIRSTNAME" ng-model="edituser.FIRSTNAME" ng-minlength="2" required/>
                    <p ng-show="newAccountForm.FIRSTNAME.$invalid && newAccountForm.FIRSTNAME.$touched" >First Name</p>
                </div> 
                
                <!-- last name for account-->
                
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched, 'text-success': !newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched }">
                    <label class="form-control-label" for="LASTNAME">Last Name:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched, 'is-valid': !newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME .$touched }" name="LASTNAME" ng-model="edituser.LASTNAME" ng-minlength="2" id="LASTNAME" required/>
                    <div ng-show="newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched" >The Last Name must be at least 2 characters long</div>
                </div>
                
               <!-- Email for account-->
                
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched, 'text-success': !newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched }">
                    <label class="form-control-label" for="EMAIL">User Email:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched, 'is-valid': !newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL .$touched }" name="EMAIL" ng-model="edituser.EMAIL" ng-minlength="6" id="EMAIL" required/>
                    <div ng-show="newAccountForm.EMAIL.$invalid && newAccountForm.EMAIL.$touched" >The User's Email must be 9 characters long</div>
                </div>
                
                 <!-- Phone Number for account-->
                
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.PHONE.$invalid && newAccountForm.PHONE.$touched, 'text-success': !newAccountForm.PHONE.$invalid && newAccountForm.PHONE.$touched }">
                    <label class="form-control-label" for="PHONE">User Phone Number:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.PHONE.$invalid && newAccountForm.PHONE.$touched, 'is-valid': !newAccountForm.PHONE.$invalid && newAccountForm.PHONE .$touched }" name="PHONE" ng-model="edituser.PHONE" ng-minlength="10" id="PHONE" required/>
                    <div ng-show="newAccountForm.PHONE.$invalid && newAccountForm.PHONE.$touched" >The User's phone number must be 10 digits</div>
                </div>
                <button button class="btn btn-dark" ng-click="editUser(edituser)">Save</button>
               <button button class="btn btn-dark" ng-click="setEditMode(false, user)">Cancel</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>


</body>
</html>