<!DOCTYPE html>

<html lang="en" ng-app="capstone">
<head>
    <!-- this is what shows up in the tabs in your browser and if you bookmark the page -->
    <title>Welcome to Capstone8</title>

    <!-- These are the links to bootstrap code -->
    <!-- we got the links from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
    <!-- link to angular -->
    <!-- you can download it from https://angularjs.org/ then you need to upload it to the webdev server. -->
    <script src="angular.min.js"></script>
    
    <!-- angular code we wrote -->
    <!-- capstone.module.js is where we define the angular app called 'capstone'. We use the name of the app in the html element at the top of the file -->
    <script src="capstone.module.js"></script>
    <!-- data.capstone.controller.js is where we are getting the data from. It defines a controller under the 'capstone' app called 'dataControl', and data is under $scope.data -->
    <script src="data.capstone.controller.js"></script>
    <!-- capstone.filter.js enables us to display html code -->
    <script src="capstone.filter.js"></script>
 
    <link rel="stylesheet" href="styles_1.css">
  
</head>

<body>
<!--
 <div class="sidenav">
  <div style="text-align: center;"><img src="quickherky.png" alt="hawkeye" style="width:100px;height:100px;"></div>
  <a href="https://webdev.cs.uiowa.edu/~bzaputil/Capstone_8/Tutor_Landing.html">Capstone_8</a>
  <a href="Admin_Profile.html">Profile</a>
  <a href="#">Account</a>
  <a href="Tutor_Scheduling.html">Schedules</a>
   <a href="#">Materials</a>
</div>
 -->
<!--- keep these together, but separate-->
<div class="container" ng-controller="dataControl"> 
<!--header-->
<div ng-include ng-init="menuHighlight = 2;" src="'Admin_Header.html'"></div>

            <div class="row-1">
      
          <h2>Schedule your available hours</h2>
          <p>Fill out the form for your tutoring sessions. Students will be able to see the hours and sign up.</p>
          <br>
          <br>
    
    <!-- form for entering new account -->
        <div class="container">
          <div class="row">
            
              
            <form  name="newSlotForm" novalidate>
                
                <!-- fill in slot date -->
                <div class="form-group" ng-class="{ 'text-danger': newSlotForm.SLOTDATE.$invalid && newSlotForm.SLOTDATE.$touched, 'text-success': !newSlotForm.SLOTDATE.$invalid && newSlotForm.SLOTDATE.$touched }">
                    <label class="form-control-label" for="SLOTDATE"> <p> Date </p></label>
                    <input type="date" class="form-control" ng-class="{ 'is-invalid': newSlotForm.SLOTDATE.$invalid && newSlotForm.SLOTDATE.$touched, 'is-valid': !newSlotForm.SLOTDATE.$invalid && newSlotForm.SLOTDATE.$touched }" name="SLOTDATE" ng-model="slot.SLOTDATE" ng-minlength="2" id="SLOTDATE" required/>
                    <div ng-show="newSlotForm.SLOTDATE.$invalid && newSlotForm.SLOTDATE.$touched" >Make sure to complete date</div>
                </div>
                
                <!-- fill in slot start time-->
                <div class="form-group" ng-class="{ 'text-danger': newSlotForm.SLOTSTART.$invalid && newSlotForm.SLOTSTART.$touched, 'text-success': !newSlotForm.SLOTSTART.$invalid && newSlotForm.SLOTSTART.$touched }">
                    <label class="form-control-label" for="SLOTSTART"><p> Start Time</p> </label>
                    <input type="time" class="form-control" ng-class="{ 'is-invalid': newSlotForm.SLOTSTART.$invalid && newSlotForm.SLOTSTART.$touched, 'is-valid': !newSlotForm.SLOTSTART.$invalid && newSlotForm.SLOTSTART.$touched }" name="SLOTSTART" ng-model="slot.SLOTSTART" ng-minlength="2" id="SLOTSTART" required/>
                    <div ng-show="newSlotForm.SLOTSTART.$invalid && newSlotForm.SLOTSTART.$touched" >Completely fill slot start time</div>
                </div>
                
                <!-- fill in slot end time-->
                
                <div class="form-group" ng-class="{ 'text-danger': newSlotForm.SLOTEND.$invalid && newSlotForm.SLOTEND.$touched, 'text-success': !newSlotForm.SLOTEND.$invalid && newSlotForm.SLOTEND.$touched }">
                    <label class="form-control-label" for="SLOTEND"> <p> End Time</p></label>
                    <input type="time" class="form-control" ng-class="{ 'is-invalid': newSlotForm.SLOTEND.$invalid && newSlotForm.SLOTEND.$touched, 'is-valid': !newSlotForm.SLOTEND.$invalid && newSlotForm.SLOTEND.$touched }" name="SLOTEND" ng-model="slot.SLOTEND" ng-minlength="2" id="SLOTEND" required/>
                    <div ng-show="newSlotForm.SLOTEND.$invalid && newSlotForm.SLOTEND.$touched" >Completely fill out slot end time</div>
                </div>
                
                <!-- fill in location-->
                
                <div class="form-group" ng-class="{ 'text-danger': newSlotForm.LOCATION.$invalid && newSlotForm.LOCATION.$touched, 'text-success': !newSlotForm.LOCATION.$invalid && newSlotForm.LOCATION.$touched }">
                    <label class="form-control-label" for="LOCATION"> <p> Location </p></label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newSlotForm.LOCATION.$invalid && newSlotForm.LOCATION.$touched, 'is-valid': !newSlotForm.LOCATION.$invalid && newSlotForm.LOCATION .$touched }" name="LOCATION" ng-model="slot.LOCATION" ng-minlength="2" id="LOCATION" required/>
                    <div ng-show="newSlotForm.LOCATION.$invalid && newSlotForm.LOCATION.$touched" >Location must be at least 2 letters long</div>
                </div>
                
                
                <!-- newAccount is a function in the controller. account refers to the word we used under ng-model in the input fields -->
                <button class="btn btn-default" ng-click="newSlot(slot)" ng-disabled="newSlotForm.$invalid">Add Slot</button>
            </form>
            
          </div>
        </div> <!-- close row -->
    </div>
  </div>
</div>

  </div>

</body>
</html>
