
<!DOCTYPE html>

<html lang="en" ng-app="capstone">
<head>
    <!-- this is what shows up in the tabs in your browser and if you bookmark the page -->
    <title>Your Profile</title>

    <!-- These are the links to bootstrap code -->
    <!-- we got the links from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
    <!-- link to angular -->
    <!-- you can download it from https://angularjs.org/ then you need to upload it to the webdev server. -->
    <script src="angular.min.js"></script>
    
    <!-- angular code we wrote -->
    <!-- capstone.module.js is where we define the angular app called 'capstone'. We use the name of the app in the html element at the top of the file -->
    <script src="capstone.module.js"></script>
    <!-- data.capstone.controller.js is where we are getting the data from. It defines a controller under the 'capstone' app called 'dataControl', and data is under $scope.data -->
    <script src="data.capstone.controller.js"></script>
    <!-- capstone.filter.js enables us to display html code -->
    <script src="capstone.filter.js"></script>
 
    <link rel="stylesheet" href="styles_1.css">
   

</head>

<body>

 <div class="sidenav">
  <div style="text-align: center;"><img src="quickherky.png" alt="hawkeye" style="width:100px;height:100px;"></div>
  <a href="Admin_Landing.html">Capstone_8</a>
  <a href="Admin_Profile.html">Profile</a>
  <a href="userlist.html">User List</a> 
  <a href="newaccount.html">Accounts</a>
  <a href="#">Schedules</a>
   <a href="#">Materials</a>
</div>


<!--- keep these together, but separate-->
<div class="container" ng-controller="dataControl"> 
<!--header-->
<div ng-include ng-init="menuHighlight = 2;" src="'header.html'"></div>
<div class="main">
<div class="row-1" ng-repeat="user in users.userarray">
<h2>User List </h2>
<p>Click to edit a profile</p>
</div>

        <div class="row-1" align="center">
            
            <!-- Profile for Admin -->
            <!-- WE are getting our data from $scope.data in capstone.controller.js. the JSON object we get has the data under "user"-->
            <!--WE are defining each row of data as Admin Details-->
            <div class="card body">
            <div class="card body" style="width: 50rem; height: 5rem; padding: 5px" ng-repeat="userrow in userlists.userlistarray" align="left">
            
                <div ng-init="setEditModeList(false, userrow);"></div>
                    
                <div ng-if="!getEditModeList(userrow)">

                <div class="card-body">
                    <div class="p2"> <b>HawkID: </b> {{userrow.HAWKID}} &nbsp;&nbsp;&nbsp;&nbsp; <b>First Name: </b>{{userrow.FIRSTNAME}}  &nbsp;&nbsp;&nbsp;&nbsp;  <b>Last Name: </b> {{userrow.LASTNAME}} &nbsp;&nbsp;&nbsp;&nbsp; <b> User Role:</b> {{userrow.USERROLE}} &nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-dark float-right" ng-click="setEditModeList(true, userrow)" ng-disabled="edituserlist != null">Edit</button></div>
                    
                </div>       
            </div>
            
            <div ng-if="getEditModeList(userrow)">
                <!-- edit mode -->
                <div>
                    <form  name="newAccountForm" novalidate>
                        <div class="card-body" style="width: 50rem; height: 2rem; padding: 6px" >
                
                <!--First Name-->
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.FIRSTNAME.$invalid && newAccountForm.FIRSTNAME.$touched, 'text-success': !newAccountForm.FIRSTNAME.$invalid && newwAccountForm.FIRSTNAME.$touched}">
                    <label>First Name:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.FIRSTNAME.$invalid && newAccountForm.director.$touched, 'is-valid': !newAccountForm.FIRSTNAME.$invalid && newAccountForm.FIRSTNAME.$touched}" name="FIRSTNAME" ng-model="edituserlist.FIRSTNAME" ng-minlength="2" required/>
                    <p ng-show="newAccountForm.FIRSTNAME.$invalid && newAccountForm.FIRSTNAME.$touched" >First Name</p>
                </div> 
                
                <!-- last name for account-->
                
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched, 'text-success': !newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched }">
                    <label class="form-control-label" for="LASTNAME">Last Name:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched, 'is-valid': !newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME .$touched }" name="LASTNAME" ng-model="edituserlist.LASTNAME" ng-minlength="2" id="LASTNAME" required/>
                    <div ng-show="newAccountForm.LASTNAME.$invalid && newAccountForm.LASTNAME.$touched" >The Last Name must be at least 2 characters long</div>
                </div>
                
               <!-- Userrole for account-->
                
                <div class="form-group" ng-class="{ 'text-danger': newAccountForm.USERROLE.$invalid && newAccountForm.USERROLE.$touched, 'text-success': !newAccountForm.USERROLE.$invalid && newAccountForm.USERROLE.$touched }">
                    <label class="form-control-label" for="USERROLE">User Role:  </label>
                    <input type="text" class="form-control" ng-class="{ 'is-invalid': newAccountForm.USERROLE.$invalid && newAccountForm.USERROLE.$touched, 'is-valid': !newAccountForm.USERROLE.$invalid && newAccountForm.USERROLE .$touched }" name="USERROLE" ng-model="edituserlist.USERROLE" ng-minlength="1" id="USERROLE" required/>
                    <div ng-show="newAccountForm.USERROLE.$invalid && newAccountForm.USERROLE.$touched" >User Role must only be ONE character long.</div>
                </div>
                
                
                
                
                <button button class="btn btn-dark" ng-click="editUserList(edituserrow)">Save</button>
               <button button class="btn btn-dark" ng-click="setEditModeList(false, userrow)">Cancel</button>
                        
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>


</body>
</html>